<app-navbar></app-navbar>
<section>
  <div class="banner-innerpage" style="
          background-image: url('../assets/bg.jpg');
        ">
    <div class="container">
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
          <h1 class="title">Welcome to The Bakers</h1>
          <h6 class="subtitle op-8">
            Fresh from the oven directly to you
          </h6>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>